<div class="login-container">
    <div class="loginbox"> 
        <section>
            <h1 class ="pinkh">  SpaceFace  </h1>
            <h2 class ="pink">  Get to know people out of this world </h2>
        </section>
        <section class = "login">
    
            <h1>User Login</h1>
            
      
            <i class="fa-solid fa-at"></i>
            <input  class='inputt' type="email" placeholder="   E m a i l">
                
            <br>    <br>
    
            <i class="fa-solid fa-lock"></i>
            <input class='inputt' type="password" placeholder="   P a s s w o r d">
    
            <br><br> 
    
            <button class="loginbtn" routerLink="/home"> Login </button>
    
            <br>
            <div class="row">
                <h3 class='normaletter'>Don't have an account? </h3>
                <a class='redirectt' routerLink="/register"> Sign Up</a>
            </div>
        </section>
    </div>
</div>
