<body>
    <header>
        <nav>
            <div class="left-section">
                <a ><img src="../../assets/imagenes/logo_portada.png"SpaceFace Logo></a>
                <span class="pinkh">SpaceFace</span>
            </div>
            <div class = "search-bar">
                <img src="../../assets/imagenes/search_icon.png" alt="Icono de busqueda" id="search-icon">
                <input type="text" placeholder="Buscar..." id="search-input">
                <i class="fa-solid fa-rocket"></i>
            </div>
            <div class="right-section">
                <a routerLink="/profile"><button class="profile-button"><img src="../../assets/imagenes/profile_icon.png" alt="Icono de Perfil" routerLink="/profile"></button></a>
                <a routerLink="/messages"><button class="messages-button"><img src="../../assets/imagenes/messages_icon.png" alt="Icono de Mensajes" ></button></a>
                <button class="logout-button"><img src="../../assets/imagenes/logOut_icon.png" alt="Cerrar Sesión" id="logout-button"></button>
            </div>
        </nav>
    </header>
    <main class="main">
        <div>
            <h2> ¿What is SpaceFace? <i class="fa-brands fa-rocketchat"> </i></h2>     
            <p> SpaceFace is a social network for share your best pictures </p> 
        </div>


    </main>
    <footer>
        <i class="fa-regular fa-envelope"></i>
        
    </footer>
    <!-- Contenido de la página -->
</body>